body{
  background: #221;
}

header{
  border-radius: 20px;
  background-color: Snow;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
ul{
  list-style: none;
  margin: 0;
  padding: 20px;
  border-radius: 15px;
  }
a{
  font-size: 30px;
  padding: 20px;
  color: #fff090;
  text-decoration: none;
  font-family: 'Press Start 2P';
}
a:hover{
  color: #474a51;
  text-decoration: none;
}
li{
  display: inline;
}
h1{
  font-size: 40px;
  padding: 20px;
  color:#4FAF44;;
  text-decoration: none;
  font-family: 'Press Start 2P';
}
h2{
  font-size: 25px;
  padding: 10px;
  color: #fff090;
  text-decoration: none;
  font-family: 'Press Start 2P';
  align-items: center;
}
div{
  border-radius: 20px;
  background-color: #221;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
iframe{
  font-size: 25px;
  padding: 10px;
  color: #221;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
  
}
.custom-text{
  font-size: 25px;
  padding: 10px;
  color: #221;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
}
