body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #221;
}
#countdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  color: #221;
  background: #221;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.countdown-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.countdown-value{
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  color: #4FAF44;
  font-family: 'Press Start 2P';
  
}
.countdown-label{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff090;
  margin: 0;
  font-family: 'Press Start 2P';
}
@keyframes pulse{
  0%{
      transform: scale(1);
  }
  50%{
      transform: scale(1.1);
  }
  100%{
      transform: scale(1);
  }
}

h1{
  font-size: 40px;
  padding: 20px;
  color:#4FAF44;;
  text-decoration: none;
  font-family: 'Press Start 2P';
}